<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="https://bootswatch.com/4/united/bootstrap.min.css">
    <title>Create Team - Team Drive</title>
    <style>
        .customborder {
            border-radius: 2%;
            border: 2px solid black;

        }
    </style>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</head>

<body>
    <div class="container">
        <h3 class="text-center p-3">Create New Team</h3>
        <div style="margin: 0 auto;" class="col-12 col-md-6 col-lg-5 p-5 customborder">
            <%if(typeof err != 'undefined'){%>
                <div class="alert alert-dismissible alert-danger">
                  <button type="button" class="close" data-dismiss="alert">&times;</button>
                  <strong><%=err%> </strong>
                </div>
              <%}%>
            <form action="/createnewteam" method="POST" id="form">
                <div class="form-group">
                    <label for="teamName">Enter Team Name</label>
                    <input type="text" class="form-control" name="teamname" id="teamName" autocomplete="off"
                        placeholder="Team Name" required>
                </div>
                <div class="form-group">
                    <label for="memberCnt">Enter Total Number of Members</label>
                    <input type="number" class="form-control" name="membercnt" id="memberCnt" autocomplete="off"
                        placeholder="Enter Total number of Members in Team" min="2" max="100" required>
                </div>
                <div class="form-group">
                    <label for="threshold">Enter Number of Threshold Members</label>
                    <input type="number" class="form-control" name="thresholdmembercnt" id="threshold" autocomplete="off"
                        placeholder="Enter Number of Threshold Members" min="2" max="100" required>
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-lg btn-primary" disable id="continue">continue</button>
                </div>        
            </form>
        </div>
    </div>
    <script type="text/javascript">
        let btn = document.querySelector("#continue");
        btn.onclick = function () {
            let n = document.querySelector("#memberCnt").value;
            if(n===""){
                alert("please enter total number of members");
                return 0;
            } 
            n = parseInt(n,10);
            
            let form = document.querySelector("#form");
            for(let i=0;i<n;i++){
                $("#form").append(`<div class="form-group"><label for="teamName">Enter Members</label><input type="text" class="form-control" name="members[${i}]" id="members" autocomplete="off" placeholder="add member name" required></div>`);
            }
            $("#form").append(`<div class="form-group">
                    <input type="submit" class="btn btn-primary btn-lg btn-block" value="Create New Team">
                </div>`)
            $("#continue").remove();
        }           
    </script>

</body>

</html>