<html>
    <head>
        <title>Team Drive</title>
    </head>
    <body>
        <div id = "home">
            <% if (success_message != ''){ %>
                <div class="alert alert-dismissible alert-success">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong> <%= success_message %> </strong>
                </div>
            <% } %>
            <h1>Welcome <%=user%> </h1> 
            <br />
            <form action="/logout" method="get">
                <input type="submit" value="Logout" />
            </form>
            <form action="/createNewTeam" method="get">
                <input type="submit" value="Create New Team" />
            </form>

            <button id="btn">notifications</button>
            <div id="notifications"></div>
            <button id="teams">My Teams</button>
            <div id="teamsBlock"></div>

        </div>
        <script src="script_home.js"></script>
    </body> 
</html>