<html>
    <head>
        <title>Team Drive</title>
    </head>
    <body>
        <h1> Welcome </h1> 
        <br />
        <%user.forEach((element)=>{%>
           <button class="teamNames"><%=element%></button>&nbsp;&nbsp; 
        <%})%> 
        <br />
        <form action="/logout" method="get">
            <input type="submit" value="Logout" />
        </form>
        <form action="/createNewTeam" method="get">
            <input type="submit" value="Create New Team" />
        </form>
        <script src="socket.js"></script>
    </body> 
</html>