<html>
    <head>
        <title>Success</title>
    </head>
    <body>
        <h1> Welcome <%=username.username%> </h1>
        <input type="text">
        <button id="add">Add</button>
        <form action='/logout' method="GET"><button id="logout">Logout</button></form>   
    </body>
</html>