<html>
    <head>
        <title>Register</title>    
    </head>
    <body>
        <div>
            <form action='/login' method = 'POST'>
                <div class="container">
                    
                    <label for="Username"><b>Username</b></label>
                    <input type="text" placeholder="Enter Username" name="username" required>
                
                    <label for="Password"><b>Password</b></label>
                    <input type="password" placeholder="Enter Password" name="password" required>
                
                    <button type="submit">Login</button>
                      
            </form>
        </div>
    </body>
</html>